# Load environment-specific variables
dotenv_load(true)

# Set tofu environment
export TFENV=prod

# AWS/R2 Configuration
export AWS_ENDPOINT="https://645022b5181fa9285795e4936ee2b30a.r2.cloudflarestorage.com"
export AWS_REGION="auto"
